@model ML.Paciente
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Paciente</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>Selecione el boton de "+" para añadir un paciente, el boton de amarillo para actualizar un paciente, y el boton rojo para eliminar un paciente.</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="text-right">@Html.ActionLink("+", "Form", "Paciente", htmlAttributes: new { @class = "btn btn-success" })</p>
        </div>
    </div>
    <br />
    @using (Html.BeginForm("GetAll", "Paciente", FormMethod.Get, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Nombre, new { @class = "" })
                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre", @onkeypress = "return SoloLetras(event,'lblErrorNombre')", @autocomplete = "off" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.ApellidoPaterno, new { @class = "" })
                @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control", @id = "txtApellidoPaterno", @onkeypress = "return SoloLetras(event,'lblErrorApellidoPaterno')", @autocomplete = "off" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.ApellidoMaterno, new { @class = "" })
                @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control", @id = "txtApellidoMaterno", @onkeypress = "return SoloLetras(event,'lblErrorApellidoMaterno')", @autocomplete = "off" })
            </div>
            <div class="col-md-3">
                <br />
                <input type="submit" value="Buscar" class="btn btn-primary">
            </div>
        </div>
    }
    <br />
    @if (Model.Pacientes.Count > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr class="text-center">
                            <td>Editar</td>
                            <td>Nombre</td>
                            <td>ApellidoPaterno</td>
                            <td>ApellidoMaterno</td>
                            <td>Genero</td>
                            <td>Edad</td>
                            <td>Ocupacion</td>
                            <td>Telefono</td>
                            <td>Direccion</td>
                            <td>Eliminar</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ML.Paciente paciente in Model.Pacientes)
                        {
                            <tr class="text-center">
                                <td>
                                    <a class="btn btn-warning" href="@Url.Action("Form", "Paciente", new { IdPaciente = paciente.IdPaciente })">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                        </svg>
                                    </a>
                                </td>
                                <td>@paciente.Nombre</td>
                                <td>@paciente.ApellidoPaterno</td>
                                <td>@paciente.ApellidoMaterno</td>
                                <td>@paciente.Genero</td>
                                <td>@paciente.Edad</td>
                                <td>@paciente.Ocupacion</td>
                                <td>@paciente.Telefono</td>
                                <td>@paciente.Direccion</td>
                                <td>
                                    <a class="btn btn-danger" href="@Url.Action("Delete", "Paciente", new { IdPaciente = paciente.IdPaciente })" onclick="return confirm('Estas seguro que deseas eliminar este registro?');">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                        </svg>
                                    </a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">
                    No se encontraron registros existentes
                </div>
            </div>
        </div>
    }
</div>

